body { 
background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.description {
  text-align: center;
  width: 65%;
  margin: auto;
}

.description h2 {
  font-size: 35px;
}

.description p {
  font-size: 30px;
}

.images img {
  width: 350px;
  height: 400px;
  margin: 5px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

.wrong {
  border: 2px solid red;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s;
}